<h1>Questions#answer</h1>
<p>Hello this is the answer</p>
<div class="the-coach-page">
  <div class="the-question">
    <p class="text-form">Your question:</p>
    <p class="question-form"><%= @question %></p>
  </div>
  <div class="the-answer">
    <p class="text-form">The coach answer:</p>
    <p class="question-form"><%= @answer %></p>
  </div>
  <a href="/ask" class="the-button">Ask again</a>
</div>
